.task-container {
  display: flex;
  margin: 20px 40px;
  padding: 20px;
  border-radius: 10px;
  border-width: 2px 2px 1px 1px;
  border-color: #ddd hsl(0, 0%, 87%) #bbb #bbb;
  border-style: solid;
}
.flex1 {
  flex-grow: 1;
}
.paddinglr {
  padding: 0px 10px;
}
.pointer {
  cursor: pointer;
  user-select: none;
}
.dragger {
  margin-right: 20px;
  font-size: 16px;
  cursor: move;
  user-select: none;
}
.dragged-over {
  border-color: aquamarine;
}
.add_task_container {
  display: flex;
  margin: 20px 40px;
}
.add_task_input,
.edit_task_input,
.register-input {
  width: calc(100% - 20px);
  height: 90%;
  min-height: 30px;
  border-radius: 10px;
}
.register-label {
  white-space: nowrap;
  width: 1px;
}
.register-table {
  width: calc(100% - 80px);
  margin: 20px 40px;
  border-radius: 15px;
  border-width: 2px 2px 1px 1px;
  border-color: #ddd hsl(0, 0%, 87%) #bbb #bbb;
  border-style: solid;
  padding: 20px;
}
.register-table tr {
  height: 40px;
}
.task-name,
.task-name-container {
  position: relative;
}
.task-name-container:hover::after {
  color: black;
  position: absolute;
  left: 0px;
  bottom: 100%;
  font-size: 8px;
  background-color: #bbb;
  padding: 10px;
  opacity: 0.5;
  border-radius: 6px;
  content: "double click, input text, and then press enter to edit";
}
.tasks-header-container {
  display: flex;
  padding: 0px 40px;
}

.ellipsis_text {
  text-overflow: ellipsis;
  flex: 1;
  overflow: hidden;
}
.ellipsis_container {
  width: 1px;
  display: flex;
}

.add_task,
.create_user {
  padding: 10px;
  background-color: lightblue;
  border-radius: 10px;
  border-width: 2px 2px 1px 1px;
  border-color: #ddd #ddd #bbb #bbb;
  cursor: pointer;
}
.logged_in {
  padding: 20px 40px;
  box-shadow: -0px -10px 10px 10px black;
  position: fixed;
  min-width: 387px;
  width: calc(100vw - 80px);
  left: 0px;
  top: 0px;
  display: flex;
  z-index: 888;
  background-color: white;
}
.logged_in_placeholder {
  height: 80px;
}
.main_app {
  min-width: 467px;
}
.logged_in_as {
  flex-grow: 1;
}
.log_out {
  margin-top: -10px;
  padding: 10px;
  background-color: lightcoral;
  border-radius: 10px;
  border-width: 2px 2px 1px 1px;
  border-color: #ddd #ddd #bbb #bbb;
  cursor: pointer;
}

@media screen and (max-width: 766px) {
  .register-table {
    height: calc(100vh - 40px);
  }
  .register-table td {
    display: block;
    text-align: center;
  }

  .register-label {
    font-weight: 700;
    width: 100%;
  }
}
.alert_overlay {
  position: fixed;
  z-index: 999;
  display: flex;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  min-height: calc(100vh * 100% / 100vw);
  background-color: rgba(150, 155, 155, 0.3);
  align-items: center;
  justify-content: center;
}
.alert_container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
}
.alert_message {
  text-align: center;
  font-weight: 700;
  color: red;
  user-select: none;
}
.alert_close {
  padding: 10px 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  border-width: 2px 2px 1px 1px;
  border-color: #ddd #ddd #bbb #bbb;
  cursor: pointer;
}
.loading_task_display {
  pointer-events: none;
  opacity: 0;
  user-select: none;
}
.icon_container {
  pointer-events: none;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.loader {
  width: 21px;
  height: 21px;
  border: 3px solid #fff;
  border-bottom-color: turquoise;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader-small {
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-bottom-color: turquoise;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
